[submodule "Submodules/x360ce"]
	path = Submodules/x360ce
	url = https://github.com/lucasassislar/x360ce
[submodule "Submodules/ProtoInput"]
	path = Submodules/ProtoInput
	url = https://github.com/ilyaki/protoinput
